.cardContainer {
    background-color: red;
    margin: 0 1rem; 
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    height: 100vh;
    overflow: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.phoneMagic {
    margin-left: 14rem;
    margin-top: -1rem
}

.brand {
    /* font-size: 72px; */
    background: -webkit-linear-gradient(rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(6,68,160,1) 54%, rgba(5,87,172,1) 60%, rgba(3,140,207,1) 77%, rgba(60,155,184,1) 89%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media(max-width: 1140px) {
    
    .grid {
        grid-template-columns: 1fr;
    }

    .cardContainer {
        height: 60vh;
        align-content: normal;
    }
}